/* latin */
@font-face {
  font-family: 'Nunito ExtraLight Italic';
  font-style: italic;
  font-weight: 200;
  src: local('Nunito ExtraLight Italic'), local('Nunito-ExtraLightItalic'), url('https://fonts.gstatic.com/s/nunito/v9/XRXQ3I6Li01BKofIMN5MZ9vKUT8tDnti.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Nunito Italic';
  font-style: italic;
  font-weight: 400;
  src: local('Nunito Italic'), local('Nunito-Italic'), url('https://fonts.gstatic.com/s/nunito/v9/XRXX3I6Li01BKofIMNaDRs7nczIH.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Nunito SemiBold Italic';
  font-style: italic;
  font-weight: 600;
  src: local('Nunito SemiBold Italic'), local('Nunito-SemiBoldItalic'), url('https://fonts.gstatic.com/s/nunito/v9/XRXQ3I6Li01BKofIMN5cYtvKUT8tDnti.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Nunito Bold Italic';
  font-style: italic;
  font-weight: 700;
  src: local('Nunito Bold Italic'), local('Nunito-BoldItalic'), url('https://fonts.gstatic.com/s/nunito/v9/XRXQ3I6Li01BKofIMN44Y9vKUT8tDnti.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: underline;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}

body {
  font-family: 'Nunito Italic', 'Arial', 'serif';
  font-size: 14pt;
  background: #0d2678 url('img/bg-gradient.jpg') repeat-x top left;
  background-size: auto 620px;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.bg {
  width: 100%;
  height: calc(100% - 80px);
  overflow: scroll;
  background: transparent url('img/bg.jpg') no-repeat top center;
  background-size: auto 620px;
}

.or {
  font-size: 18pt;
  padding: 40px 0 30px 0;
  font-family: 'Nunito ExtraLight Italic', 'Arial', 'serif';;
}
.btn-primary, .btn-primary:focus {
  background-color: rgba(32, 67, 162, 0.5);
  border: none;
  padding: 5px 20px;
  border-radius: 20px;
  font-size: 20pt;
  font-family: 'Nunito ExtraLight Italic', 'Arial', 'serif';;
}

.col-sm-12 {
  padding: 0;
}

h1 {
  font-family: 'Nunito SemiBold Italic', 'Arial', 'serif';;
  padding-top: 50px;
  padding-bottom: 10px;
}

h2 {
  font-family: 'Nunito SemiBold Italic', 'Arial', 'serif';;
  padding-top: 10px;
  margin-bottom: 0;
}

.activate_button {
  position: absolute;
  width: 70px;
  top: 215px;
  padding: 0;
  right: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.activate_button_img {
  width: 70px;
}

.details-text {
  background: transparent url('img/bg-details-text.png') no-repeat top center;
  background-size: auto 620px;
  margin: 0 -15px;
  padding: 40px 15px;
}

.facts li {
  padding: 5px 0;
}

input[type=text], .form-control:focus {
  font-family: 'Nunito ExtraLight Italic', 'Arial', 'serif';;
  font-size: 36pt;
  background-color: transparent;
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px solid silver;
  padding: 2px;
  color: white;
}

input[type=text]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

input[type=text]:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

input[type=text]::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.nav_icon {
  width: 40px;
  height: 40px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 20px;
}

.constellation_img {
  width: 200px;
  height: 200px;
}

.align-center {
  text-align: center;
  margin-top: 35px;
}

.cover-container {
  max-width: 36em;
}

@media (max-width: 36em) {
  .cover-container {
    width: 100%;
  }
}

/* Search page */

.search-box {
  display: inline-block;
  padding-top: 40px;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid rgba(153, 150, 150, 0.192);
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
	background-color: rgba(9, 28, 97, 0.850);
  /* background-color: transparent; */
  border-bottom: 1px solid rgba(153, 150, 150, 0.192);
  color: rgb(125, 141, 201);
}

.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: none;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
	width: 50px;
	height: 50px;
	position: absolute;
	background-color: rgba(153, 150, 150, 0.192);
	z-index:1;
	right: 15px;
	top: 40px;
	bottom: 0;
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	color: white;
}

/* Details page (maybe) */

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: rgba(0,0,0, 0.9);
  background: #2043a2 url('img/bg-details.png') no-repeat top center;
  background-size: 100% 620px;
	overflow-x: hidden;
	transition: 0.5s;
}

.bigcrunch-visible {
  height: 100%;
}

.overlay-content {
	position: relative;
	width: 100%;
	text-align: left;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
	text-align: right;
}

.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}

iframe {
  border-width: 0;
}

.close-btn {
  cursor: pointer;
  background: none;
  border: none;
  position: absolute;
  top: 20px;
  left: 0px;
  z-index: 1;
}
